{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1>This is our Home Page</h1>
    <p>Testing if flask can load data queried from DB to the frontend. Any found user data will be listed in the following table below</p>
<table>
    <thead>

    </thead>
    <tbody>
    {% for data in users %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.username}}</td>
            <td>{{data.fullname}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}