{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}

{% if session.get('user_id') %}
    <p>You are logged in as {{ user.username }}</p>
{% endif %}


<section class="intro">
    <div class="intro-content">
        <h1>Welcome to Flaskify</h1>
        <p class="subtitle">The smart way to create, study, quiz, and repeat flashcards</p>
        <div class="homebtn">
            {% if not session.get('user_id') %}
                <a href="{{ url_for('user.signup') }}" class="btn one">Start Learning <br> Now</a>
                <a href="{{ url_for('user.login') }}" class="btn two">Existing User? <br>Login</a>
            {% else %}
                <a href="{{ url_for('set.create_sets') }}" class="btn one">Create New Set</a>
                <a href="{{ url_for('set.create_cards') }}" class="btn two">Add a New Card</a>
            {% endif %}
    </div>
</div>


<div>
    <div class="feature">
        <div>📝</div>
        <h3>Create Sets</h3>
        <p>Organize your flashcards into custom sets.</p>
    </div>
    <div class="feature">
        <div>➕</div>
        <h3>Add Cards</h3>
        <p>Make some flashcards with questions and answers.</p>
    </div>
    <div class="feature">
        <div>🧠</div>
        <h3>Study Smarter</h3>
        <p>Use the quiz mode to test your knowledge!</p>
    </div>
</div>

<table>
    <thead>
        <p>List of users (for testing purposes):</p>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Fullname</th>
    </tr>
    </thead>
    <tbody>
    {% for data in users %}
        <tr>
            <td>{{data.id}}</td>
            <td>{{data.username}}</td>
            <td>{{data.fullname}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
