{% extends "base.html" %}

{% block title %}Cards in {{ set_data.name }}{% endblock %}

{% block content %}
<h1>Cards in {{ set_data.name }}</h1>
<ul>
    {% for card in cards %}
        <li>
            <strong>Q:</strong> {{ card.front }} | <strong>A:</strong> {{ card.back }}
            <a href="{{ url_for('update_card', set_id=set_data.id, card_id=card.id) }}">Edit</a>
            <form class="flashcard-deleter" method="POST" action="{{ url_for('delete_card', card_id=card.id) }}">
                <button>Delete</button>
            </form>
        </li>
    {% else %}
        <li>No cards in this set</li>
    {% endfor %}
</ul>
<a href="{{ url_for('create_cards', set_id=set_data.id) }}">
    Add a new card
</a>
    {% block javascript %}
    <script>
        let deleteButtons = document.getElementsByClassName('flashcard-deleter')
        for (let idx = 0; idx < deleteButtons.length; idx++){
            deleteButtons[idx].addEventListener('submit', function(event) {
            event.preventDefault();
            let text = "Are you sure you want to delete this card?"
            if (confirm(text) === true){
                this.submit();
            }
            });
        }
    </script>
    {% endblock %}
{% endblock %}
