{% extends "base.html" %}

{% block title %}Cards in {{ set_name }}{% endblock %}

{% block content %}
<h1>Cards in {{ set_name }}</h1>
    <a class="small" href="{{ url_for('create_cards') }}">Add a new card</a>
    {% for card in cards %}
    <div class="card">
        <table>
            <tr><th><strong>Q:</strong> {{ card.front }}</th></tr> <tr><td><strong>A:</strong> {{ card.back }}</td></tr>
        </table>
    </div>
    {% else %}
        <p class="small">No cards in this set</p>
    {% endfor %}
{% endblock %}
