{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1 class="middle">Sign Up</h1>
<form class="middle" method="POST">
    <label>Username:</label>
    <input class="textbox" type="text" name="username" required><br>

    <label>Full Name:</label>
    <input class="textbox" type="text" name="fullname" required><br>

    <label>Password:</label>
    <input class="textbox" type="password" name="password" required><br>

    <button class="submit" type="submit">Sign Up</button>
</form>
<p class="middle">Have an account? <a class="loginsignup" href="{{ url_for('user.login') }}">Login here</a></p>
{% endblock %}
